<h1>Log your Favorite Burgers</h1>

<h2>Your favorites so far</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Try these next</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" action="/api/burgers/" method="post">

  <div class="form-group">
    <label for="bu">Burger Name</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="slee">When you wanna eat it?</label><br>
    <input type="radio" name="eaten" value="1" checked>Eat it Later<br>
    <input type="radio" name="eaten" value="0"> Eat it Now
  </div>

  <button type="submit">Submit</button>
</form>