li {
    padding: 10px;
    margin: 10px;
    background: lightgray;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 10px;
    margin: 10px;
    background: green;
  }
  
  .form-group {
    margin-bottom: 10px;
  }

  h1 {
      color: blue;
  }